<form>
    <div class="form-group col-md-6">
      <label for="inputCuenta">Número De Cuenta *</label>
      <input type="number" [(ngModel)]="retiro.cuenta" class="form-control" name="inputCuenta" required="true">
    </div>
    <div class="form-group col-md-6">
      <label for="inputContrasenia">Pin *</label>
      <input type="password" [(ngModel)]="retiro.clave" class="form-control" name="inputContrasenia" required="true">
    </div>
    <div class="form-group col-md-6">
      <label for="inputValorConsignar">Valor a Retirar *</label>
      <input type="number" [(ngModel)]="retiro.valor" class="form-control" name="inputValorConsignar" required="true">
    </div>
  <br>
  <div class="text-center">
    <button (click)="setRetiro()" type="submit" class="btn btn-primary">Realizar Retiro</button>
  </div>
</form>

