<form>
    <div class="form-group col-md-6">
      <label for="inputCuenta">Número De Cuenta *</label>
      <input type="number" class="form-control" id="inputCuenta" required="true">
    </div>
    <div class="form-group col-md-6">
      <label for="inputValorConsignar">Valor a Consignar *</label>
      <input type="number" class="form-control" id="inputValorConsignar" required="true">
    </div>
  <br>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Realizar Consignación</button>
  </div>
</form>
