<div class="container">
    <div class="jumbotron">
        <h1 class="display-4 titulo" >Deisy Marcela Cuellar Galvira</h1>
        <p class="lead perfil">Técnico en sistemas, estudiando tecnología en desarrollo de software,con conocimiento en programación orientada a objetos en java, conexión a bases de datos desde java, html, css, jsp, mysql, sql sever, asp . Net con conocimientos básicos de Scrum, Manejo de ingles intermedio.
            Buen manejo de relaciones para trabajo en equipo, y fácil aprendizaje. Soy respetuosa, responsable, puntual, honesta y con mucha actitud para desempeñar mis labores.</p>
        <hr class="my-4">
        <div class="text-center">
            <a class="btn btn-primary btn-lg" target="_blank" href="https://www.linkedin.com/in/deisy-cuellar-8b887419a/" role="button">Ver más</a>
        </div>
        
      </div>
</div>

